html, body {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	text-align: center;
	margin-top: 1em;
}

main {
	max-width: 100%;
	width: 80rem;
	margin: 0 auto;
	flex-grow: 2;
}

footer {
	background-color: #f4f5f6;
	text-align: center;
	padding: 1rem;
}

@media print {
	.no-print {
		display: none;
	}
}
